# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.jsonl

# Others
checkpoints/
datasets/
slurm/
outputs/
cog.yaml
.ipynb_checkpoints/
GroundingDINO/
weights/
wandb/
